body {
    background-color: #1d2630;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
*{
    color: #fff;
}
.statu-date{
    display: flex;
    gap: 5%;
}
#Submit{
 
    display: none;
    
}
.bahom{
    background-color:#1d2630;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  
}
.bahom:hover{
    border:1px solid ;
}
.Card{
    padding: 5px;
    display: flex;
    border:1px solid #fff;
    margin-bottom: 1rem;
    border-radius: 5px;
   
}
.Card-description{
    display: block;
}

.Card h5,p{
    margin-left: 20px;
}
.rida{
    display: flex;
}
.button-card{
    display: flex;
    justify-content: end;
    gap: 1rem;

}
option{
    color: #000000;
    margin-left: 40px;

}

.row{
    background-color: rgba(255, 255, 255, 0.119);
    padding: 20px;
    border-radius: 15px;

}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 3px;
}
/*******************************************card*******************/


